body{
    font-family: Helvetica, Arial;
    background-color:bisque;
    background-image: url(backround.jpg);
    color:aliceblue;
}
.center{
    text-align: center;
}
.emphasizes{
    text-align: center;
}
#themclasses{
    text-align: center;
}
.info{
    text-align: center;
    text-align: justify;
}
#wow{
    text-align: center;
}
h1, h2, h3{
color: orange;
font-style: italic;
font-weight: normal;
}
.pics{
    border: 15px solid black;
    background-color: yellow;
    padding: 10px;
}

